/* MAIN */

.main-parent-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: aqua;
}

.main-container {
  width: 50vw;
  background-color: rgb(16, 111, 111);
}

.main-title {
  text-align: center;
  font-size: 1.3em;
  padding: 10px;
}

.main-items-container {
  display: flex;
  background-color: beige;
}

/* ITEM SELECTION */

.item-select-text {
  cursor: pointer;
  padding: 5px;
  background-color: rgb(21, 84, 89);
}

.item-select-text:hover {
  background-color: rgb(97, 190, 190);
}

/* ITEM DISPLAY */

.display-container {
  width: 100%;
  margin: 10px;
  padding: 5px;
  background-color: brown;
}

/* INVENTORY DISPLAY */

.inventory-titles-container {
  display: flex;
  justify-content: space-around;
  height: 40px;
  padding-bottom: 10px;
}

.inventory-titles {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  width: 50%;
  height: 100%;
  border-radius: 5px;
  transition: 100ms;
}

.inventory-titles:hover {
  background-color: beige;
}

.inventory-selected {
  background-color: aliceblue;
}

/* INVENTORY ITEMS DISPLAY */

.inventory-items-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: aqua;
}

.inventory-items-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.inventory-items-input-container {
  padding: 10px;
  width: 40px;
}

.inventory-items-input {
  width: 40px;
  height: 25px;
}

/* SCREEN RES BREAKPOINTS */

@media (max-width: 80rem) {
  .main-container {
    width: 70vw;
  }
}

@media (max-width: 60rem) {
  .main-container {
    width: 80vw;
  }
}

@media (max-width: 40rem) {
  .main-container {
    width: 95vw;
  }
}
