:root {
  --main-background-color: rgb(240, 240, 240);
  --main-darker-background-color: rgb(216, 216, 216);
  --main-dark-font: rgb(20, 20, 20);
  --main-button: rgb(97, 163, 225);
  --main-button-hover: rgb(62, 123, 180);
  --main-button-active: rgb(35, 79, 121);
  --main-button-selected: ;
  --main-button-selected-hover: ;
  --main-background-color-dark: rgb(40, 40, 40);
  --main-lighter-background-color-dark: rgb(25, 25, 25);
}

html {
  background-color: rgb(29, 54, 62);
  color: white;
}

a:link {
  text-decoration: none;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* MAIN */

.main-parent-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.main-container {
  width: 40vw;
  min-height: 100vh;
  background-color: var(--main-background-color);
}

.main-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-title {
  text-align: center;
  font-size: 1.4em;
  padding: 10px 0px 10px 0px;
  color: var(--main-dark-font);
  width: 85%;
}

.dropdown-menu-close {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  top: 1%;
  right: 3%;
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--main-dark-font);
  z-index: 16;
}

.hidden {
  display: none;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--main-background-color);
  color: var(--main-dark-font);
  font-size: 1.1rem;
  font-weight: 500;
  width: 40%;
  height: 0%;
  z-index: 15;
  transition: 300ms;
}

.dropdown-menu-blur {
  position: fixed;
  width: 40%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(5px);
  background-color: rgba(20, 20, 20, 0.4);
  z-index: 14;
  transition: 100ms;
}

.visible {
  height: 20%;
  transition: 200ms;
}

.visible > :nth-child(1),
.visible > :nth-child(2) {
  padding: 15px 10px 0px 15px;
}

/* .visible > :nth-child(3)::after {
  content: "x";
  cursor: pointer;
  color: white;
  border-radius: 50%;
  background-color: rgb(20, 20, 20);
  padding: 0px 10px 5px 10px;
} */

.visible > :nth-child(1)::after {
  content: "Hive Planner";
}

.visible > :nth-child(2)::after {
  content: "Recipe Calculator";
}

.light::after {
  cursor: pointer;
  content: "🌙";
  padding: 2px 5px 5px 5px;
  border-radius: 5px;
  background-color: var(--main-dark-font);
  transition: 100ms;
}

.dark::after {
  cursor: pointer;
  content: "☀️";
  padding: 2px 5px 5px 5px;
  border-radius: 5px;
  background-color: var(--main-background-color);
  transition: 100ms;
}

.light-menu::after {
  cursor: pointer;
  content: "☰";
  padding: 2px 10px 5px 10px;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--main-dark-font);
  transition: 100ms;
}

.dark-menu::after {
  cursor: pointer;
  content: "☰";
  padding: 2px 10px 5px 10px;
  color: var(--main-background-color-dark);
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 5px;
  background-color: var(--main-background-color);
  transition: 100ms;
}

.main-title::after {
  content: "Bee Swarm Sim Tools";
}

.main-subtitle {
  text-align: center;
  padding: 0px 7px 7px 7px;
  opacity: 0.7;
  font-size: 0.9rem;
  color: var(--main-dark-font);
}

.main-items-container {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  margin: 5px 0px 5px 0px;
}

.main-description {
  text-align: center;
  margin: 5px 10px 20px 10px;
  padding: 7px 7px 10px 7px;
  border-radius: 5px;
  color: var(--main-dark-font);
  border: 2px solid rgb(27, 27, 27, 0.16);
  background-color: var(--main-background-color);
}

/* ITEM SELECTION */

.item-select-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}

.item-select-text {
  text-align: center;
  cursor: pointer;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 7px 5px;
  border-radius: 5px;
  min-width: 80px;
  border: 1px solid rgb(33, 81, 127, 0.2);
  background-color: var(--main-button);
  transition: 100ms;
}

.item-select-text:hover {
  background-color: var(--main-button-hover);
}

.item-select-text:active {
  background-color: rgb(27, 61, 93);
}

/* ITEM DISPLAY */

.display-container {
  width: 100%;
  padding: 10px 0px 5px 0px;
  background-color: var(--main-background-color);
}

/* INVENTORY DISPLAY */

.inventory-titles-container {
  display: flex;
  justify-content: space-around;
  height: 40px;
  padding-bottom: 10px;
  margin: 0px 1px 5px 1px;
}

.inventory-titles {
  cursor: pointer;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  width: 48%;
  height: 100%;
  border-radius: 5px;
  color: white;
  border: 1px solid rgb(21, 52, 81, 0.7);
  background-color: var(--main-button);
  transition: 100ms;
}

.inventory-titles:hover {
  background-color: var(--main-button-hover);
}

.inventory-titles:active {
  background-color: var(--main-button-active);
}

/* INVENTORY ITEMS DISPLAY */

.inventory-items-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  margin: 0px 8px 8px 8px;
  padding: 5px;
  background-color: rgb(73, 192, 192);
}

.inventory-items-content-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.inventory-items-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.inventory-items-input-container {
  padding: 10px;
  width: 50px;
}

.inventory-items-input {
  width: 50px;
  height: 28px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-background-color);
}

.inventory-items-input:focus {
  outline: 3px solid rgb(12, 73, 83);
  transition: 100ms;
}

.inventory-reset-button {
  cursor: pointer;
  user-select: none;
  padding: 1px 10px 4px 10px;
  margin: 2px 0px 5px 0px;
  border-radius: 3px;
  border: 2px solid rgb(91, 11, 11, 0.2);
  background-color: rgb(128, 0, 0);
  transition: 100ms;
}

.inventory-reset-button:hover {
  background-color: rgb(155, 1, 1);
}

.inventory-reset-button:active {
  background-color: rgb(108, 0, 0);
}

.inventory-desc {
  width: 100%;
  border-radius: 5px;
  padding: 5px 5px 10px 5px;
  margin-bottom: 5px;
  background-color: rgb(27, 121, 139);
}

/* GLOBAL STYLES */

/* ITEM TITLES */

.items-titles-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

.items-titles {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 20%;
  min-height: 50px;
  padding: 6px 11px 6px 11px;
  margin: 0px 5px 5px 5px;
  border: 1px solid rgb(21, 52, 81, 0.7);
  background-color: var(--main-button);
  border-radius: 5px;
  transition: 100ms;
}

.items-titles:hover {
  background-color: rgb(42, 93, 141);
}

.items-titles:active {
  background-color: rgb(27, 61, 93);
}

.items-selected {
  border: 1px solid rgb(34, 100, 64, 0.7);
  background-color: rgb(53, 151, 97);
}

.items-selected:hover {
  background-color: rgb(49, 136, 88);
}

.items-content {
  padding: 10px;
}

/* ITEM RECIPE DISPLAY */

.item-display-container {
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 5px;
  margin: 8px;
  background-color: rgb(73, 192, 192);
}

.item-display-recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3px;
}

.item-display-recipe {
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(42, 163, 165);
}

.item-display-subrecipe {
  display: flex;
  flex-direction: column;
  padding: 5px 5px 5px 15px;
  border-radius: 5px;
  background-color: rgb(42, 163, 165);
}

.item-display-subrecipe-content {
  display: flex;
  padding: 0px 5px 5px 25px;
}

.item-display-content {
  padding: 0px 5px 0px 5px;
}

.item-display-subcontent {
  padding: 0px 5px 0px 5px;
}

.item-craftable {
  text-align: center;
  margin: 5px 3px 5px 2px;
  padding: 7px;
  border-radius: 5px;
  font-weight: 600;
  background-color: rgb(62, 227, 59);
}

/* PLANNER */

.planner {
  display: flex;
  justify-content: center;
  width: 100%;
}

.planner-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(30, 107, 107);
}

.planner-title {
  margin: 10px 10px 50px 10px;
}

/* BEES */

.bees-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
  padding: 10px 0px;
  margin: 10px 0px;
}

.bees-type-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.bees-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 10%;
  min-height: 35px;
  padding: 2px 11px 2px 11px;
  margin: 0px 5px 5px 5px;
  border: 1px solid rgb(21, 52, 81, 0.7);
  background-color: var(--main-button);
  border-radius: 5px;
  transition: 100ms;
}

.bees-button:hover {
  background-color: rgb(42, 93, 141);
}

.bees-button:active {
  background-color: rgb(27, 61, 93);
}

.bees-selected {
  border: 1px solid rgb(34, 100, 64, 0.7);
  background-color: rgb(53, 151, 97);
}

.bees-selected:hover {
  background-color: rgb(49, 136, 88);
}

.bees-gifted {
  cursor: pointer;
  user-select: none;
  font-size: 1.1rem;
  padding-bottom: 10px;
  color: white;
  border: none;
  border-radius: 0px 0px 5px 5px;
  background-color: rgb(200, 200, 200);
  width: 97%;
}

/* BEE TYPES */

.type-container {
  display: flex;
  justify-content: center;
  width: 97%;
  padding: 15px 0px 10px 0px;
  margin-top: 10px;
  border-radius: 5px 5px 0px 0px;
  background-color: rgb(200, 200, 200);
}

.type-image {
  width: 65px;
}

/* HIVE */

.hive-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hive-slot-container-bg {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px 10px 10px 10px;
  border: 5px solid #836c19;
  background-color: #92791b;
}

.hive-slot-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 450px;
  margin-bottom: 50px;
}

.hive-slot {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 75px;
  height: 65px;
  margin: 3px;
  background-image: url("images/Hive/EmptyHive.png");
}

.hive-slot-container > :nth-child(1),
.hive-slot-container > :nth-child(6),
.hive-slot-container > :nth-child(10),
.hive-slot-container > :nth-child(11),
.hive-slot-container > :nth-child(15),
.hive-slot-container > :nth-child(16),
.hive-slot-container > :nth-child(20),
.hive-slot-container > :nth-child(21),
.hive-slot-container > :nth-child(25),
.hive-slot-container > :nth-child(26),
.hive-slot-container > :nth-child(30),
.hive-slot-container > :nth-child(31),
.hive-slot-container > :nth-child(35),
.hive-slot-container > :nth-child(36),
.hive-slot-container > :nth-child(40),
.hive-slot-container > :nth-child(41),
.hive-slot-container > :nth-child(45),
.hive-slot-container > :nth-child(46),
.hive-slot-container > :nth-child(50) {
  transform: translate(50%, 55%);
}

.hive-slot-container > :nth-child(2),
.hive-slot-container > :nth-child(7),
.hive-slot-container > :nth-child(12),
.hive-slot-container > :nth-child(17),
.hive-slot-container > :nth-child(22),
.hive-slot-container > :nth-child(27),
.hive-slot-container > :nth-child(32),
.hive-slot-container > :nth-child(37),
.hive-slot-container > :nth-child(42),
.hive-slot-container > :nth-child(47) {
  transform: translateX(26%);
}

.hive-slot-container > :nth-child(3),
.hive-slot-container > :nth-child(8),
.hive-slot-container > :nth-child(13),
.hive-slot-container > :nth-child(18),
.hive-slot-container > :nth-child(23),
.hive-slot-container > :nth-child(28),
.hive-slot-container > :nth-child(33),
.hive-slot-container > :nth-child(38),
.hive-slot-container > :nth-child(43),
.hive-slot-container > :nth-child(48) {
  transform: translate(3%, 55%);
}

.hive-slot-container > :nth-child(4),
.hive-slot-container > :nth-child(9),
.hive-slot-container > :nth-child(14),
.hive-slot-container > :nth-child(19),
.hive-slot-container > :nth-child(24),
.hive-slot-container > :nth-child(29),
.hive-slot-container > :nth-child(34),
.hive-slot-container > :nth-child(39),
.hive-slot-container > :nth-child(44),
.hive-slot-container > :nth-child(49) {
  transform: translateX(-20%);
}

.hive-slot-container > :nth-child(5),
.hive-slot-container > :nth-child(10),
.hive-slot-container > :nth-child(15),
.hive-slot-container > :nth-child(20),
.hive-slot-container > :nth-child(25),
.hive-slot-container > :nth-child(30),
.hive-slot-container > :nth-child(35),
.hive-slot-container > :nth-child(40),
.hive-slot-container > :nth-child(45),
.hive-slot-container > :nth-child(50) {
  transform: translate(-43%, 55%);
}

/* DARK THEME */

.dark-background {
  color: white;
  background-color: var(--main-background-color-dark);
}

.dark-background-lighter {
  color: white;
  background-color: var(--main-lighter-background-color-dark);
}

.dark-info {
  color: white;
  background-color: rgb(25, 25, 25);
}

.dark-font {
  color: white;
}

.dark-display {
  background-color: rgb(27, 121, 139);
}

.dark-description {
  background-color: rgb(21, 95, 109);
}

/* SCREEN RES BREAKPOINTS */

@media (max-width: 80rem) {
  .main-container {
    width: 70vw;
  }
  .dropdown-menu {
    width: 70%;
  }
  .dropdown-menu-blur {
    width: 70%;
  }
  .bees-container {
    width: 70vw;
  }
}

@media (max-width: 60rem) {
  .main-container {
    width: 80vw;
  }
  .dropdown-menu {
    width: 80%;
  }
  .dropdown-menu-blur {
    width: 80%;
  }
  .bees-container {
    width: 80vw;
  }
}

@media (max-width: 44rem) {
  .main-title {
    width: 70%;
  }
  .main-title::after {
    content: "BSS Tools";
  }
  .main-container {
    width: 100vw;
  }
  .dropdown-menu {
    width: 100%;
  }
  .dropdown-menu-blur {
    width: 100%;
  }
  .bees-container {
    width: 100vw;
  }
  .items-content span {
    display: none;
  }
  .items-content {
    content: "";
    padding: 0px;
  }
  .item-display-subcontent span {
    display: none;
  }
  .item-display-subcontent {
    content: "";
  }
  .items-titles {
    width: 100px;
  }
  .type-image {
    width: 55px;
  }
  .hive-slot-container-bg {
    width: 330px;
  }
  .hive-slot-container {
    width: 280px;
    height: 680px;
    transform: translate(-2%);
  }
  .hive-slot {
    width: 50px;
    height: 40px;
  }
}

@media (max-height: 55rem) {
  .planner {
    height: 100%;
  }
  .planner-container {
    height: 100%;
  }
}

@media (max-height: 50rem) {
  .planner {
    height: 100%;
  }
  .planner-container {
    height: 100%;
  }
}

@media (max-width: 44rem) {
  .hive-slot-container > :nth-child(1),
  .hive-slot-container > :nth-child(6),
  .hive-slot-container > :nth-child(10),
  .hive-slot-container > :nth-child(11),
  .hive-slot-container > :nth-child(15),
  .hive-slot-container > :nth-child(16),
  .hive-slot-container > :nth-child(20),
  .hive-slot-container > :nth-child(21),
  .hive-slot-container > :nth-child(25),
  .hive-slot-container > :nth-child(26),
  .hive-slot-container > :nth-child(30),
  .hive-slot-container > :nth-child(31),
  .hive-slot-container > :nth-child(35),
  .hive-slot-container > :nth-child(36),
  .hive-slot-container > :nth-child(40),
  .hive-slot-container > :nth-child(41),
  .hive-slot-container > :nth-child(45),
  .hive-slot-container > :nth-child(46),
  .hive-slot-container > :nth-child(50) {
    transform: translateY(85%);
  }

  .hive-slot-container > :nth-child(2),
  .hive-slot-container > :nth-child(7),
  .hive-slot-container > :nth-child(12),
  .hive-slot-container > :nth-child(17),
  .hive-slot-container > :nth-child(22),
  .hive-slot-container > :nth-child(27),
  .hive-slot-container > :nth-child(32),
  .hive-slot-container > :nth-child(37),
  .hive-slot-container > :nth-child(42),
  .hive-slot-container > :nth-child(47) {
    transform: translateX(6%);
  }

  .hive-slot-container > :nth-child(3),
  .hive-slot-container > :nth-child(8),
  .hive-slot-container > :nth-child(13),
  .hive-slot-container > :nth-child(18),
  .hive-slot-container > :nth-child(23),
  .hive-slot-container > :nth-child(28),
  .hive-slot-container > :nth-child(33),
  .hive-slot-container > :nth-child(38),
  .hive-slot-container > :nth-child(43),
  .hive-slot-container > :nth-child(48) {
    transform: translate(12%, 85%);
  }

  .hive-slot-container > :nth-child(4),
  .hive-slot-container > :nth-child(9),
  .hive-slot-container > :nth-child(14),
  .hive-slot-container > :nth-child(19),
  .hive-slot-container > :nth-child(24),
  .hive-slot-container > :nth-child(29),
  .hive-slot-container > :nth-child(34),
  .hive-slot-container > :nth-child(39),
  .hive-slot-container > :nth-child(44),
  .hive-slot-container > :nth-child(49) {
    transform: translateX(18%);
  }

  .hive-slot-container > :nth-child(5),
  .hive-slot-container > :nth-child(10),
  .hive-slot-container > :nth-child(15),
  .hive-slot-container > :nth-child(20),
  .hive-slot-container > :nth-child(25),
  .hive-slot-container > :nth-child(30),
  .hive-slot-container > :nth-child(35),
  .hive-slot-container > :nth-child(40),
  .hive-slot-container > :nth-child(45),
  .hive-slot-container > :nth-child(50) {
    transform: translate(24%, 85%);
  }
}
